body {
  background-color: rgba(179, 123, 51, 0.068);
}
.mainCard {
  border-radius: 20px;
  background-color: rgb(182, 182, 182);
  border: 1px solid rgba(117, 117, 117, 0.2);
  /* outline: 1px solid rgba(255, 255, 255, 0.162);
  outline-offset: -4px; */
}
.compass {
  margin-left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 1px solid grey;
  background-color: rgba(127, 255, 212, 0.2);
}
.mainCards {
  border-radius: 20px;
  box-shadow: 0 0 10px rgb(190, 190, 190);
  padding: 1rem;
  background-color: rgba(224, 224, 224, 0);
  overflow-x: scroll;
  display: flex;
}
.smallCard {
  background-color: white;
  margin: 0 0.2rem;
  padding: 0.5rem;
  min-width: 8rem !important;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.5);
}
